body{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;   
    min-height: 100vh;
}
.container{
    background-color: #262525;
    width: 1229px; 
    height: 671px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    
}
.content-layout {
    display: flex; 
    flex-direction: row; 
}

.dashboard-text{
    display: flex;
    height: 24px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16.2px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FFFFFF;

    
    margin-top: 24px;
    margin-bottom: 0px;

}

.dashboard-text::before{
    content: url('burgermenu.svg');
    margin-right: 38px;
    margin-left: 38px;
}

.sidebar{
    display: flex;
    width: 56px;
    height: 393px;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 40px;
    margin-left: 18px;
    margin-right: 20px;
    width: 56px;
    height: 393px;
}
.icons img{
    width: 28px;
    height: 28px;
}
.hoverbgn {
    width: 56px;
    height: 56px;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.hoverbgn:hover {
    background-color: #4169E114;
    cursor: pointer;
}


.main{
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
}
.row1{
    display: flex;
    flex-direction: row;
    width: 809px;
    height: 153px;
    padding-top: 23px;
    padding-bottom: 38px;
    padding-left: 40px;
    justify-content: center;
    
}
.d1{
    display: flex;
    background-color: #1D1D1D;
    width: 245px;
    height: 153px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 2px #00000040;
    
    
}
.d2{
    display: flex;
    background-color: #1D1D1D;
    width: 245px;
    height: 153px;
    border-radius: 20px;
    margin-left: 37px;
    box-shadow: 0px 4px 8px 2px #00000040;
    
}
.d3{
    display: flex;
    background-color: #1D1D1D;
    width: 245px;
    height: 153px;
    border-radius: 20px;
    margin-left: 37px;
    box-shadow: 0px 4px 8px 2px #00000040;
   
}
.d4{
    display: flex;
    justify-content: center;
    background-color: #1D1D1D;
    width: 809px;
    height: 195px;
    border-radius: 20px;
    margin-left: 40px;
    box-shadow: 0px 4px 8px 2px #00000040;
}
    


.row2{
    display: flex;
    flex-direction: row;
    width: 809px;
    height: 157px;
    padding-top: 38px;
    padding-left: 40px;
    justify-content: center;
}
.d5{
    display: flex;
    background-color: #1D1D1D;
    width: 386px;
    height: 157px;
    border-radius: 20px;
    margin-right: 37px;

    box-shadow: 0px 4px 8px 2px #00000040;
   
}
.d6{
    display: flex;
    background-color: #1D1D1D;
    width: 380px;
    height: 157px;
    border-radius: 20px;

    box-shadow: 0px 4px 8px 2px #00000040;
    
}
 
.footer-container{
    display: flex;
    flex-direction: column;
    height: 297.35px;
    height: 625px;
    margin-left: 25px;
}
    


.file {
  position: relative;
  width: 295px;
  height: 296px;
}

.file div {
  position: absolute;
  border-radius: 36px;
  box-shadow: 0px 4px 32px 20px #00000040;
}

.puple {
    width: 218px;
    height: 218px;
    background: linear-gradient(150deg, #7B20E2, #2B1043);
    z-index: 3; 
 }

.yellow {
    width: 218px;
    height: 205px;
    background: #C68E3C;
    z-index: 2;
    transform: rotate(7deg) translate(15px, -5px);
}

.green {
    width: 221px;
    height: 200px;
    background: #2F847F;
    z-index: 1;
    transform: rotate(14deg) translate(30px, -10px);
}
.d7{
    width: 258px;
    height: 273px;
    border-radius: 20px;
    background-color: #1D1D1D;
    margin-top: 30px;
    box-shadow: 0px 4px 8px 2px #00000040;
}
    
